<div class="contenedor">
    <form class="d-flex" [formGroup]="form" role="search">
        <form [formGroup]="typeForm">
            <select id="type" formControlName="type">
                <option *ngFor="let t of types" [ngValue]="t">{{ t }}</option>
            </select>
        </form>
        <input class="form-control me-2"  formControlName="searchId"  type="search" placeholder="aggregate (id)" aria-label="Search">
        <button [disabled]="form.invalid" class="btn btn-outline-success" (click)="add()" type="submit">ADD</button>
    </form>
</div>
