
<table class="table">
    <thead>
      <tr>
        <th scope="col">Comment </th>
        <th scope="col">Notification</th>
        <th scope="col">Progress</th>
        <th scope="col">Performence</th>
      </tr>
    </thead>
    <tbody>
      <tr>
          <td>{{collaboration.comment}}</td>
          <td>{{collaboration.notification}}</td>
          <td>{{collaboration.progress}}</td>
          <td>{{collaboration.performence}}</td>
          <td>
            <a class = "btn btn-outline-success" (click)="update()" >Update</a>
          </td>
          <td>
            <a class = "btn btn-outline-success" (click)="delete()" >Delete</a>
          </td>
      </tr>
    </tbody>
  </table>

